.project__wrapper {
  margin: 0 30%;
}

.button__wrapper {
  display: flex;
  margin: 20px 0 20px 0;
}

.img__wrapper {
  column-count: 3;
  column-gap: 1em;
  width: 103%;
  margin: auto;
}

.project__img {
  margin: 5px 5px 5px 0;
  width: 250px;
}

.project__button {
  border: 1px solid #555555;
  margin-right: 5px;
  color: #555555;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}

.project__button__active {
  border: 1px solid #FFF;
  background-color: #555555;
  margin-right: 5px;
  color: #FFF;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width:1780px) {
  .img__wrapper {
    column-count: 2;
  }
}
@media (max-width:1180px) {
  .img__wrapper {
    column-count: 1;
  }
}
@media (min-width:2400px) {
  .img__wrapper {
    column-count: 4;
  }
}